{sub_dirs, ["apps/spawnquest_srv", "rel"]}.

{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "HEAD"}}}
	]}.
%% warn_export_all, ... log4erl has export all.
{erl_opts, [debug_info, warn_shadow_vars, warn_obsolete_guard,
            warn_unused_import, warnings_as_errors]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
