{sub_dirs, ["apps/browserquest_srv", "rel"]}.

%% warn_export_all, ... log4erl has export all.
{erl_opts, [debug_info, warn_shadow_vars, warn_obsolete_guard,
            warn_unused_import, warnings_as_errors, 
            {parse_transform, lager_transform}]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
